.env
docker-compose.override.yml
docker-compose.streamlit.yml
docker-compose.yml
Dockerfile
Dockerfile.streamlit
requirements-streamlit.txt
requirements.txt
.vscode/settings.json
config/airflow.cfg
dags/dag_testing.py
dags/nba_processing_dag.py
dags/smoke_testing.py
dags/__pycache__/dag_testing.cpython-312.pyc
dags/__pycache__/my_dag.cpython-312.pyc
dags/__pycache__/nba_processing_dag.cpython-312.pyc
dags/__pycache__/smoke_testing.cpython-312.pyc
dags/__pycache__/test.cpython-312.pyc
data/bronze/PerGame_Playoffs.json
data/bronze/PerGame_Pre%20Season.json
data/bronze/PerGame_Regular%20Season.json
data/silver/_SUCCESS
data/silver/._SUCCESS.crc
data/silver/SeasonType=Playoffs/.part-00000-aed5f106-5029-4260-9eee-f66ceb44fb42.c000.snappy.parquet.crc
data/silver/SeasonType=Playoffs/part-00000-aed5f106-5029-4260-9eee-f66ceb44fb42.c000.snappy.parquet
data/silver/SeasonType=Pre Season/.part-00001-aed5f106-5029-4260-9eee-f66ceb44fb42.c000.snappy.parquet.crc
data/silver/SeasonType=Pre Season/part-00001-aed5f106-5029-4260-9eee-f66ceb44fb42.c000.snappy.parquet
data/silver/SeasonType=Regular Season/.part-00002-aed5f106-5029-4260-9eee-f66ceb44fb42.c000.snappy.parquet.crc
data/silver/SeasonType=Regular Season/part-00002-aed5f106-5029-4260-9eee-f66ceb44fb42.c000.snappy.parquet
include/__init__.py
include/__pycache__/__init__.cpython-311.pyc
include/__pycache__/__init__.cpython-312.pyc
include/__pycache__/config.cpython-312.pyc
include/scripts/__init__.py
include/scripts/__pycache__/__init__.cpython-311.pyc
include/scripts/__pycache__/__init__.cpython-312.pyc
include/scripts/other/__init__.py
include/scripts/other/common_funcs.py
include/scripts/other/utils.py
include/scripts/other/__pycache__/__init__.cpython-311.pyc
include/scripts/other/__pycache__/__init__.cpython-312.pyc
include/scripts/other/__pycache__/common_funcs.cpython-311.pyc
include/scripts/other/__pycache__/common_funcs.cpython-312.pyc
include/scripts/other/__pycache__/utils.cpython-311.pyc
include/scripts/other/__pycache__/utils.cpython-312.pyc
include/scripts/tasks/__init__.py
include/scripts/tasks/__pycache__/__init__.cpython-311.pyc
include/scripts/tasks/__pycache__/__init__.cpython-312.pyc
include/scripts/tasks/__pycache__/airflow_tasks.cpython-312.pyc
include/scripts/tasks/__pycache__/scraping.cpython-312.pyc
include/scripts/tasks/api/__init__.py
include/scripts/tasks/api/scraping.py
include/scripts/tasks/api/__pycache__/__init__.cpython-311.pyc
include/scripts/tasks/api/__pycache__/__init__.cpython-312.pyc
include/scripts/tasks/api/__pycache__/scraping.cpython-311.pyc
include/scripts/tasks/api/__pycache__/scraping.cpython-312.pyc
include/scripts/tasks/spark/__init__.py
include/scripts/tasks/spark/spark_tasks.py
include/scripts/tasks/spark/__pycache__/__init__.cpython-312.pyc
include/scripts/tasks/spark/__pycache__/spark_tasks.cpython-312.pyc
logs/dag_id=dag_testing/run_id=manual__2025-09-28T220247.929431+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T220437.711806+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T220641.047775+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T220828.962753+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T221131.886032+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T221257.235177+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T221556.665976+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T221649.738817+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T221747.635025+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T221930.169726+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T222030.623126+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T222338.458041+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T222409.187234+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T222514.572712+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T222735.261016+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T223921.840722+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T224034.249275+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T224221.182220+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T224536.408142+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T224632.239545+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T224913.174158+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T224949.142536+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-28T225056.321202+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T012355.661707+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T012612.754046+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T013742.543962+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T013929.681969+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T014830.451021+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T020702.930365+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T021116.904728+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T021957.515222+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T022344.936027+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T022604.300371+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T223029.356791+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T223335.935322+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T223416.820794+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T224151.037776+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T224409.896403+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T224653.383096+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T225326.132594+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T225440.470271+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T225527.849556+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T225748.033735+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T230740.834025+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=dag_testing/run_id=manual__2025-09-30T230912.391128+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-25T182714.548568+0000/task_id=read_data/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-25T182923.482701+0000/task_id=read_data/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-25T184328.466375+0000/task_id=read_data/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-25T185740.099614+0000/task_id=read_data/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-25T194032.723875+0000/task_id=read_data/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-25T201447.684006+0000/task_id=read_data/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-25T201934.528183+0000/task_id=read_data/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-26T195634.812053+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-26T200123.000253+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-26T231453.114151+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-26T233141.372542+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-26T235504.930391+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T001554.348364+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T001735.499965+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T001816.532960+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T150854.662374+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T153132.633197+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T153247.236401+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T153456.443317+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T154201.976048+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T154358.939250+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T154834.184791+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T155746.769828+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T162814.906901+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-27T202019.598715+0000/task_id=payload_to_spark_df/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-30T200531.957845+0000/task_id=bronze_to_silver/attempt=1.log
logs/dag_id=my_dag/run_id=manual__2025-09-30T200531.957845+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=nba_processing_dag/run_id=manual__2025-10-01T010539.580890+0000/task_id=bronze_to_silver/attempt=1.log
logs/dag_id=nba_processing_dag/run_id=manual__2025-10-01T010539.580890+0000/task_id=scrape_to_bronze/attempt=1.log
logs/dag_id=nba_processing_dag/run_id=manual__2025-10-01T011308.221751+0000/task_id=bronze_to_silver/attempt=1.log
logs/dag_id=nba_processing_dag/run_id=manual__2025-10-01T011308.221751+0000/task_id=scrape_to_bronze/attempt=1.log
logs/dag_id=nba_processing_dag/run_id=manual__2025-10-01T011308.221751+0000/task_id=silver_to_gold/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T171213.783400+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T180432.979563+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T181228.194329+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T181408.510096+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T183835.798308+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T184630.571922+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T185008.194634+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T185656.239841+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T190031.061988+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T190453.090304+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T200119.206147+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T200416.145044+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T200619.690893+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T201312.663026+0000/task_id=testing_task/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T231446.613909+0000/task_id=testing_reading/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T232325.074899+0000/task_id=testing_reading/attempt=1.log
logs/dag_id=test/run_id=manual__2025-09-27T232629.504298+0000/task_id=testing_reading/attempt=1.log
logs/dag_processor/2025-09-25/dags-folder/my_dag.py.log
logs/dag_processor/2025-09-25/example_dags/example_asset_alias_with_no_taskflow.py.log
logs/dag_processor/2025-09-25/example_dags/example_asset_alias.py.log
logs/dag_processor/2025-09-25/example_dags/example_asset_decorator.py.log
logs/dag_processor/2025-09-25/example_dags/example_asset_with_watchers.py.log
logs/dag_processor/2025-09-25/example_dags/example_assets.py.log
logs/dag_processor/2025-09-25/example_dags/example_branch_labels.py.log
logs/dag_processor/2025-09-25/example_dags/example_branch_python_dop_operator_3.py.log
logs/dag_processor/2025-09-25/example_dags/example_complex.py.log
logs/dag_processor/2025-09-25/example_dags/example_custom_weight.py.log
logs/dag_processor/2025-09-25/example_dags/example_dag_decorator.py.log
logs/dag_processor/2025-09-25/example_dags/example_display_name.py.log
logs/dag_processor/2025-09-25/example_dags/example_dynamic_task_mapping_with_no_taskflow_operators.py.log
logs/dag_processor/2025-09-25/example_dags/example_dynamic_task_mapping.py.log
logs/dag_processor/2025-09-25/example_dags/example_inlet_event_extra.py.log
logs/dag_processor/2025-09-25/example_dags/example_kubernetes_executor.py.log
logs/dag_processor/2025-09-25/example_dags/example_latest_only_with_trigger.py.log
logs/dag_processor/2025-09-25/example_dags/example_local_kubernetes_executor.py.log
logs/dag_processor/2025-09-25/example_dags/example_nested_branch_dag.py.log
logs/dag_processor/2025-09-25/example_dags/example_outlet_event_extra.py.log
logs/dag_processor/2025-09-25/example_dags/example_params_trigger_ui.py.log
logs/dag_processor/2025-09-25/example_dags/example_params_ui_tutorial.py.log
logs/dag_processor/2025-09-25/example_dags/example_passing_params_via_test_command.py.log
logs/dag_processor/2025-09-25/example_dags/example_setup_teardown_taskflow.py.log
logs/dag_processor/2025-09-25/example_dags/example_setup_teardown.py.log
logs/dag_processor/2025-09-25/example_dags/example_simplest_dag.py.log
logs/dag_processor/2025-09-25/example_dags/example_skip_dag.py.log
logs/dag_processor/2025-09-25/example_dags/example_task_group_decorator.py.log
logs/dag_processor/2025-09-25/example_dags/example_task_group.py.log
logs/dag_processor/2025-09-25/example_dags/example_time_delta_sensor_async.py.log
logs/dag_processor/2025-09-25/example_dags/example_trigger_target_dag.py.log
logs/dag_processor/2025-09-25/example_dags/example_workday_timetable.py.log
logs/dag_processor/2025-09-25/example_dags/example_xcom.py.log
logs/dag_processor/2025-09-25/example_dags/example_xcomargs.py.log
logs/dag_processor/2025-09-25/example_dags/tutorial_dag.py.log
logs/dag_processor/2025-09-25/example_dags/tutorial_objectstorage.py.log
logs/dag_processor/2025-09-25/example_dags/tutorial_taskflow_api_virtualenv.py.log
logs/dag_processor/2025-09-25/example_dags/tutorial_taskflow_api.py.log
logs/dag_processor/2025-09-25/example_dags/tutorial_taskflow_templates.py.log
logs/dag_processor/2025-09-25/example_dags/tutorial.py.log
logs/dag_processor/2025-09-25/example_dags/plugins/decreasing_priority_weight_strategy.py.log
logs/dag_processor/2025-09-25/example_dags/plugins/event_listener.py.log
logs/dag_processor/2025-09-25/example_dags/plugins/listener_plugin.py.log
logs/dag_processor/2025-09-25/example_dags/plugins/workday.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_bash_decorator.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_bash_operator.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_branch_datetime_operator.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_branch_day_of_week_operator.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_branch_operator_decorator.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_branch_operator.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_external_task_child_deferrable.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_external_task_marker_dag.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_external_task_parent_deferrable.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_latest_only.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_python_decorator.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_python_operator.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_sensor_decorator.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_sensors.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_short_circuit_decorator.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_short_circuit_operator.py.log
logs/dag_processor/2025-09-25/example_dags/standard/example_trigger_controller_dag.py.log
logs/dag_processor/2025-09-26/dags-folder/my_dag.py.log
logs/dag_processor/2025-09-27/dags-folder/my_dag.py.log
logs/dag_processor/2025-09-27/dags-folder/smoke_testing.py.log
logs/dag_processor/2025-09-27/dags-folder/test.py.log
logs/dag_processor/2025-09-28/dags-folder/dag_testing.py.log
logs/dag_processor/2025-09-28/dags-folder/my_dag.py.log
logs/dag_processor/2025-09-28/dags-folder/smoke_testing.py.log
logs/dag_processor/2025-09-30/dags-folder/dag_testing.py.log
logs/dag_processor/2025-09-30/dags-folder/my_dag.py.log
logs/dag_processor/2025-09-30/dags-folder/nba_processing_dag.py.log
logs/dag_processor/2025-09-30/dags-folder/smoke_testing.py.log
logs/dag_processor/2025-10-01/dags-folder/dag_testing.py.log
logs/dag_processor/2025-10-01/dags-folder/my_dag.py.log
logs/dag_processor/2025-10-01/dags-folder/nba_processing_dag.py.log
logs/dag_processor/2025-10-01/dags-folder/smoke_testing.py.log
tests/test_.py
tests/__pycache__/conftest.cpython-311-pytest-8.4.2.pyc
tests/__pycache__/test_.cpython-311-pytest-8.4.2.pyc
tests/__pycache__/test_common_funcs.cpython-311-pytest-7.4.0.pyc
tests/__pycache__/test_common_funcs.cpython-311-pytest-8.4.2.pyc
tests/__pycache__/test_scraping.cpython-311-pytest-7.4.0.pyc
tests/__pycache__/test_scraping.cpython-311-pytest-8.4.2.pyc
